.logo-banner {
    padding: 2px 2px 0px 30px;
    margin: -40;
    display: inline-block;
    border-radius: 0;
 }
 
.btn {
     border: 3px solid black;
     background-color: white;
     color: black;
     padding: 10px 10px 10px 10px;
     font-size: 16px;
     cursor: pointer;
     border-radius: 5px;
     display: inline-block;
     position: relative;
     right: -1300px;
     top: -200px;
     
 }
 
.yourcart {
     border-color: #010101;
     color: rgb(0, 0, 0);
     font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
   
.yourcart:hover {
     background: gold;
     color: white;
}
 
.topnav {
    background-color: black;
    overflow: hidden;
    padding: 5px;
    display: flex;
    justify-content: center;
    justify-content: space-evenly;  
}

.topnav a {
     float: left;
     color: #f2f2f2;
     text-align: center;
     padding: 14px 16px;
     text-decoration: none;
     font-size: 20px;
     font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}
 
 .topnav a:hover, a:active {
     background-color: gold;
     color: black;
}
 
 .home-image {
     margin: 0 auto; 
     display: flex;
     justify-content: center;
}
 
 .solid {
     border-top: 5px solid black;
}

.shoe-card-1 {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    margin: auto;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: black;
    font-size: 12px;
}

.size {
    color: red;
    font-size: 20px;
}

.price {
    color: black;
    font-size: 22px;
}

.shoe-card-1 button {
    border: none;
    outline: 0;
    padding: 12px;
    color: black;
    background-color: gold; 
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
}

.shoe-card-1 button:hover {
    opacity: 0.5;
}

.shoe-card-2 {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    margin: auto;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: black;
    font-size: 12px;
}

.shoe-card-2 button {
    border: none;
    outline: 0;
    padding: 12px;
    color: black;
    background-color: gold;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
}

.shoe-card-2 button:hover {
    opacity: 0.5;
}

.shoe-card-3 {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    margin: auto;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: black;
    font-size: 12px;
}

.shoe-card-3 button {
    border: none;
    outline: 0;
    padding: 12px;
    color: black;
    background-color: gold;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
}

.shoe-card-3 button:hover {
    opacity: 0.5;
}

.float-container {
    display: flex;
    padding: 80px 20px 20px 20px;
   
}

.float-child {
    flex: 1;
    border: 2px;
}

.float-child-2 {
    flex: 1;
    border: 2px;
}

.float-child-3 {
    flex: 1;
    border: 2px;
}