.logo-banner {
   padding: 2px 2px 0px 30px;
   margin: -40;
   display: inline-block;
   border-radius: 0;
}

.btn {
    border: 3px solid black;
    background-color: white;
    color: black;
    padding: 10px 10px 10px 10px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    display: inline-block;
    position: relative;
    right: -1300px;
    top: -200px;
}

.yourcart {
    border-color: #010101;
    color: rgb(0, 0, 0);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
  
.yourcart:hover {
    background: gold;
    color: white;
}

.topnav {
    background-color: black;
    overflow: hidden;
    padding: 5px;
    margin: 20px 40px 20px 40px;
    display: flex;
    justify-content: center;
    justify-content: space-evenly;  
}

.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 20px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
    
}

.topnav a:hover, a:active {
    background-color: gold;
    color: black;
}

.home-image {
    margin: 0 auto; 
    display: flex;
    justify-content: center;
}

.solid {
    border-top: 5px solid black;
    margin: 30px 40px 30px 40px;
}

.title-story {
    display: flex;
    justify-content: center;
    font-size: 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.paragraph-1 {
    display: flex;
    justify-content: center;
    padding: 10px 60px 10px 60px;
    font-size: 20px;    
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.paragraph-2 {
    display: block;
    justify-content: center;
    padding: 10px 60px 10px 60px;
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.footer {
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}



